<!DOCTYPE html>
<htm>
    <head>
        <title>Motaseq</title>
        <meta name="description" content="Style your web pages easly" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="/static/favicon.png" />
        <link rel="stylesheet" href="/static/styles/bootstrap.css" />
    </head>

    <body>
        <div class="container mt-5 pt-2">            
            <div>
              <div class="container rounded shadow-lg p-3 w-75 bg-light">
                <div class="d-flex justify-content-center mt-3 mb-4">
                    <img src="/static/done.png" width="130" height="130" alt="Motaseq logo"/>
                </div>
                <h3 class="text-center fw-bold">Done</h3>
                <h5 class="text-center mt-5">Your project style has been saved. You can deploy it!</h5>
                <div class="container mt-3 pt-3">
                    <div class="mt-5 text-center">
                        <a href="/" class="btn btn-dark">New project</a>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </body>
</html>